<% include partials/_header %>

<!--Título obtenido de rutas-->

<!--La interfaz del login -->
<div class="container w-100 ">
    <div class="navbar navbar-brand">
        <div class="col left">
            <img src="img/descarga.jpg" alt="">
        </div>
        <div class="col center"></div>
        <div class="right">
            <img src="img/<%= avatar %>" alt="">
            <%= user%>
        </div>

    </div>
</div>



</div>
</form>
</div>



<% include partials/_footer %>